body {
    color: #737373;
    font-size: 10px;
    font-family: verdana;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    /* background: url(img/background.jpg) no-repeat center; */
    /* background: linear-gradient(45deg, rgba(34, 193, 195, 1), rgba(253, 187, 45, 1)); */
}

.bg {
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;

}

textarea,
input,
select {
    background-color: #FDFBFB;
    border: 1px solid #BBBBBB;
    padding: 2px;
    margin: 1px;
    font-size: 14px;
    color: #808080;
}

a,
a:link,
a:visited,
a:active {
    color: #AAAAAA;
    text-decoration: none;
    font-size: 10px;
}

a:hover {
    border-bottom: 1px dotted #c1c1c1;
    color: #AAAAAA;
}

img {
    border: none;
}

td {
    font-size: 14px;
    color: #7A7A7A;
}

.bg-login {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/opacity/see-through */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 20px;
    text-align: center;

}

.container {
    text-align: center;
}

.notice {
    color: #c1c1c1;
    font-size: 9px;
}

.error {
    color: #FF8080;
    font-size: 9px;
}

.user {
    background-image: url(img/icons8-user-24.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 10%;

}

.pass {
    background-image: url(img/icons8-lock-26.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 12%;
}